/* 
    Created on : Jun 18, 2016, 2:52:58 AM
    Author     : Mursalin
*/

.root {
    -fx-background-color: #383838;
}

.button {
    -fx-background-color: linear-gradient(#4682b4,#4099FF);
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.label-message {
    -fx-background-color: #383838;
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #F8F8F8;
    -fx-opacity: 1;
}

.table-view .column-header-background .label{
    -fx-background-color: #383838;
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #F8F8F8;
    -fx-opacity: 1;
}

.label-miss {
    -fx-background-color: white;
    -fx-font-size: 16pt;
    -fx-font-family: "Stencil";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.progress-bar .bar {
    /*-fx-background-color: linear-gradient(#800020, #FF0000);*/
    -fx-background-color: linear-gradient(#3366CC, #3399FF);
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.23em; /* 5 */
}

.menu .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.tooltip{
    -fx-background-color: #4682b4;
    -fx-border-color: white;
    -fx-font-size :10pt; 
}

.list-cell:empty {
    -fx-background-color: white;
}